<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head>
	<meta th:fragment="base-metas" charset="utf-8"></meta>
	<meta th:fragment="base-metas" name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	
	
	<link th:fragment="base-fonts" href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i" rel="stylesheet" type="text/css" />
	<link th:fragment="base-fonts" href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css" />
	<link th:fragment="base-fonts" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css" />

	<link th:fragment="base-fonts" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet" type="text/css"
		integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />

	<link th:fragment="base-css" th:href="@{/css/main.css}" href="../../css/main.css" rel="stylesheet" type="text/css" />
	<link th:fragment="base-css" th:href="@{/css/header.css}" href="../../css/header.css" rel="stylesheet" type="text/css" />
	<link th:fragment="base-css" th:href="@{/css/footer.css}" href="../../css/footer.css" rel="stylesheet" type="text/css" />
	
	<link th:fragment="forms-css" th:href="@{/css/forms.css}" href="../../css/forms.css" rel="stylesheet" type="text/css" />
</head>

<body></body>

</html>