<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head></head>
<body>

	<header th:fragment="header">
		<h1>
			<a href="https://www.michaelv.nl" target="_blank">Michael<span>Verschoof</span></a>
		</h1>
		<nav>
			<ul th:if="${tab == 'login' || tab == 'signup'}">
				<li><a th:href="@{/}" href="/" th:class="${tab == 'login'} ? 'active' : null" th:text="#{header.menu.login}">Log in</a></li>
				<li><a th:href="@{/signup}" href="/signup" th:class="${tab == 'signup'} ? 'active' : null" th:text="#{header.menu.signup}">Sign up</a></li>
			</ul>
			<ul th:unless="${tab == 'login' || tab == 'signup'}">
				<li><a th:href="@{/logout}" href="/logout"><i class="fa fa-sign-out-alt"></i></a></li>
			</ul>
		</nav>
	</header>

	<footer th:fragment="footer">
		<a href="https://www.michaelv.nl" class="copyright" th:utext="#{footer.copyright}">Copyright</a>
	</footer>

</body>
</html>