@charset "UTF-8";

main form {
	width: 425px;
}

main form fieldset:last-child {
	text-align: right;
}

main form fieldset.inline {
	display: inline-block;
	vertical-align: top;
}

main form fieldset.inline.first,
main form fieldset.inline.last {
	width: 36%;
}

main form fieldset.inline.middle {
	padding: 0 0.8rem;
	width: 28%;
}

main form fieldset.inline.password,
main form fieldset.inline.confirm {
	width: 50%;
}

main form fieldset.inline.password {
	padding-right: 0.4rem;
}

main form fieldset.inline.confirm {
	padding-left: 0.4rem;
}

main form fieldset.inline.middle input,
main form fieldset.inline.last input,
main form fieldset.inline.confirm input {
	width: 100%;
}
