<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head>
	<title>Registration and login application</title>
	
	<meta th:replace="fragments/head :: base-metas" />
	<link th:replace="fragments/head :: base-fonts" />
	<link th:replace="fragments/head :: base-css" />
	<link th:replace="fragments/head :: forms-css" />
</head>

<body>
	<header th:replace="fragments/main :: header"></header>

	<main>
		<h1 th:text="#{forgotpassword.header}">Title</h1>
		<form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post" class="small">
			<p th:if="${message}" th:text="${message}" class="message">Message</p>
			<p th:if="${error}" th:text="${error}" class="error">Error</p>
			
			<h2 th:text="#{forgotpassword.header.sub}">Subtitle</h2>
			<fieldset>
				<label th:for="${#ids.next('email')}"><i class="fa fa-at"></i></label
				><input th:field="*{email}" th:uerrorclass="error" type="email" id="email" name="email" th:placeholder="#{form.placeholder.email}" placeholder="Email address" />
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Error message</p>
			</fieldset>
			<fieldset>
				<button type="submit" name="submit" value="forgotPassword" th:text="#{form.submit}">Submit</button>
			</fieldset>
		</form>
	</main>

	<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>