<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head>
	<title>Registration and login application</title>
	
	<meta th:replace="fragments/head :: base-metas" />
	<link th:replace="fragments/head :: base-fonts" />
	<link th:replace="fragments/head :: base-css" />
	<link th:replace="fragments/head :: forms-css" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../css/login.css" />
</head>

<body>
	<header th:replace="fragments/main :: header"></header>

	<main>
		<h1 th:text="#{login.header}">Title</h1>
		<form th:action="@{/login}" method="post" class="login small">
			<p th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="error">Error</p>
			<p th:if="${message}" th:text="${message}" class="message">Message</p>
			<p th:if="${error}" th:text="${error}" class="error">Error</p>
			
			<h2 th:text="#{login.header.sub}">Subtitle</h2>
			<fieldset>
				<label for="email"><i class="fa fa-at"></i></label
				><input type="email" id="email" name="email" th:placeholder="#{form.placeholder.email}" placeholder="Email" />
			</fieldset>
			<fieldset>
				<label for="password"><i class="fa fa-key"></i></label
				><input type="password" id="password" name="password" th:placeholder="#{form.placeholder.password}" placeholder="Password" />
				<a th:href="@{/forgot-password}" href="/forgot-password" class="forgot" th:text="#{login.forgot.password}">Forgot password</a>
			</fieldset>
			<fieldset>
				<button type="submit" name="submit" value="login" th:text="#{login.form.submit}">Submit</button>
			</fieldset>
		</form>

		<div class="signup">
			<span th:text="#{login.signup.text}">No account?</span>
			<a th:href="@{/signup}" href="/signup" th:text="#{login.signup.link}">Sign up</a>
		</div>

	</main>

	<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>