<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US">

<head>
	<title>Registration and login application</title>

	<meta th:replace="fragments/head :: base-metas" />
	<link th:replace="fragments/head :: base-fonts" />
	<link th:replace="fragments/head :: base-css" />
	<link th:replace="fragments/head :: forms-css" />
</head>
<body>
	<header th:replace="fragments/main :: header"></header>

	<main>
		<h1>Enter your new password</h1>
		<form th:action="@{/set-password}" th:object="${user}" method="post" autocomplete="off">
			<p th:if="${message}" th:utext="${message}" class="message">Message</p>
			<p th:if="${error}" th:utext="${error}" class="error">Error</p>

			<h2>Don't make it too easy</h2>
			<fieldset class="password">
				<label for="password"><i class="fa fa-key"></i></label
				><input th:field="*{password}" th:errorclass="error" type="password" placeholder="Password" autocomplete="new-password" />
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">
					Error message
				</p>
			</fieldset>
			<fieldset class="confirm">
				<label for="password"><i class="fa fa-key"></i></label
				><input th:field="*{passwordConfirmation}" th:errorclass="error" type="password" placeholder="Confirm password" autocomplete="new-password" />
				<p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="error">
					Error message
				</p>
			</fieldset>
			<fieldset>
				<button type="submit" name="submit" value="signup">Set password</button>
			</fieldset>
		</form>
	</main>

	<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>
